kiwisolver==1.4.7
nvidia-cudnn-cu11==9.1.0.70
Jinja2==3.1.4
filelock==3.16.1
more-itertools==10.5.0
multidict==6.1.0
openai-whisper==20240930
nvidia-ml-py==12.560.30
nvidia-cufft-cu11==10.9.0.58
numba==0.60.0
nvidia-cusolver-cu11==11.4.1.48
nvidia-nvtx-cu11==11.8.86
packaging==24.2
click==8.1.7
sentry-sdk==2.19.2
nvidia-nccl-cu11==2.21.5
torchaudio==2.5.1+cu118
llvmlite==0.43.0
async-timeout==5.0.1
annotated-types==0.7.0
networkx==3.2.1
fonttools==4.55.2
importlib_resources==6.4.5
mxnet==1.9.1
future==1.0.0
wcwidth==0.2.13
torchvision==0.20.1+cu118
six==1.17.0
graphviz==0.8.4
tqdm==4.67.1
triton==3.1.0
typing_extensions==4.12.2
smmap==5.0.1
torchmetrics==1.6.0
frozenlist==1.5.0
pydantic==2.10.3
nvidia-cuda-nvrtc-cu11==11.8.89
docker-pycreds==0.4.0
aiohttp==3.11.10
gitdb==4.0.11
yarl==1.18.3
fsspec==2024.10.0
attrs==24.2.0
certifi==2024.8.30
tensorboardX==2.6.2.2
menpo==0.11.1
nvidia-cusparse-cu11==11.7.5.86
bcolz-zipline==1.2.12
urllib3==2.2.3
prettytable==3.12.0
nvidia-cuda-cupti-cu11==11.8.87
propcache==0.2.1
tiktoken==0.8.0
cycler==0.12.1
Pillow==9.0.0
idna==3.10
MarkupSafe==3.0.2
setuptools==56.0.0
pynvml==12.0.0
nvidia-cublas-cu11==11.11.3.6
protobuf==5.29.1
aiosignal==1.3.1
torch==2.5.1+cu118
contourpy==1.3.0
psutil==6.1.0
setproctitle==1.3.4
requests==2.32.3
pytorch-lightning==1.8.6
wandb==0.19.0
opencv-python==4.10.0.84
mpmath==1.3.0
pyparsing==3.2.0
regex==2024.11.6
zipp==3.21.0
ffmpeg-python==0.2.0
pip==21.1.1
pydantic_core==2.27.1
av==14.0.1
nvidia-curand-cu11==10.3.0.86
lightning-utilities==0.11.9
aiohappyeyeballs==2.4.4
einops==0.8.0
matplotlib==3.9.3
eval_type_backport==0.2.0
scipy==1.13.1
GitPython==3.1.43
nvidia-cuda-runtime-cu11==11.8.89
platformdirs==4.3.6
python-dateutil==2.9.0.post0
numpy==1.26.4
PyYAML==6.0.2
charset-normalizer==3.4.0
sympy==1.13.1
